@font-face {
    font-family: 'MySanskritFont';
    src: url('../Sanskrit-2003.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

body { 
    width: 100%;
    max-width: 1200px;   
    font-family: Arial, sans-serif; 
    min-height: 100%;
    font-family: 'Arial', 'MySanskritFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#MainBody{
    width: 96%;
    max-width: 1100px;   
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffaaaa;
    min-height: 100%;
    margin: 0 auto;       
}

#PageNaviggationBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #000000;
    padding: 1rem;
    text-align: center;
}
#LogoBox{
    width: 6%;
    height: auto;     
}
#LogoBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#PageNavigationSelect{
    width: 40%;
    font-size: 2vw;
    font-weight: bold;
    padding: 2vh;
    border: 4px solid #000000;
}
#PageNaviggationBox button{
    width: 20%;
    padding: 2vh 0 2vh 0;
    background: linear-gradient(180deg, #00aa00, #00cc00, #00aa00);
    color: #ffffff;
    border-radius: 4vw;  
    font-size: 2vw;  
    font-weight: bold;
    cursor: pointer;
}
#pageNaviggationBox button:hover{
    background: linear-gradient(180deg, #009900, #00aa00, #009900);
    color: #ffff00;
}
#NoticeBox{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(135deg, #eeeecc, #eeeebb);
}
#NoticeTitle{
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    padding: 2vh 0 2vh 0;
    color: #5555ff;
    text-shadow: 2px 2px 5px #333;
}
#NoticeList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NoticeItems{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    margin: 0 0 2vh 0;
    box-shadow: 2px 2px 5px #111111;
}
.NoticeItems h3{
    width: 40%;
    text-align: left;
    font-size: 2vw;
}
.btnOpenNotice{
    width: 15%;
    padding: 1vh 0 1vh 0;
    background: linear-gradient(180deg, #009900, #00cc00, #009900);
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 4vw;
    cursor: pointer;
}
.btnOpenNotice:hover{
    background: linear-gradient(180deg, #006600, #009900, #006600);
    color: #ffff00;
}
.btnDownloadNotice{
    width: 15%;
    padding: 1vh 0 1vh 0;
    background: linear-gradient(180deg, #000099, #0000cc, #000099);
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 4vw;
}
.btnDownloadNotice:hover{
    background: linear-gradient(180deg, #000066, #000099, #000066);
    color: #ffff00;
}
.btnDeleteNotice{
    width: 15%;
    padding: 1vh 0 1vh 0;
    background: linear-gradient(180deg, #990000, #cc0000, #990000);
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 4vw;
}
.btnDeleteNotice:hover{
    background: linear-gradient(180deg, #660000, #990000, #660000);
    color: #ffff00;
}
